* {
  box-sizing: border-box;
}

/* mostly from https://github.com/johngruen/project-dfa/tree/master/src */
body {
  font: message-box;
}

/*=====MINIMAL RESETS, ADJUSTMENTS, ETC =====*/
p {
  font-size: 13px;
  line-height: 1.4;
  margin: 0.5em 0 0 0;
}

/* specific heights we like */

h1 {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.4;
}

body {
  width: 425px;
  padding: 0 0;
  margin: 0 0;
  overflow: hidden;
}

#topbar {
  height: 16px;
}

#topsection {
  display: flex;
  padding: 0 16px 24px 16px;
}

#picture {
  margin-right: 16px;
}

#picture svg {
  width: 32px;
  height: 33px;
}

#header {
  text-align: left;
  margin: 8px 0;
}

#bottomsection {
  height: 48px;
  background: #fff;
}

#button-container {
  display: flex;
}

.button-style {
  padding: 8px;
  font-size: 13px;
  line-height: 1.25;
  text-align: center;
  flex: 1 0 50%;
  border: none;
  border-top: solid 1px;
  min-height: 48px;
}

#close-button {
  text-align: center;
}

:root {
  --puzzle-icon-fill-color: #30e60b;
}

#picture svg path {
  fill: var(--puzzle-icon-fill-color);
}

/* Default (light) theme */

:root {
  --default-theme-background-color: #fff;
  --default-theme-color: #0c0c0d;
  --default-theme-primary-button-text-color: #fff;
  --default-theme-primary-button-background-color: #0060df;
  --default-theme-primary-button-background-color-hover: #003eaa;
  --default-theme-primary-button-background-color-active: #002275;
  --default-theme-primary-button-top-border-color: rgba(12, 12, 13, 0.1);
  --default-theme-secondary-button-text-color: #0c0c0d;
  --default-theme-secondary-button-background-color: rgba(12, 12, 13, 0.1);
  --default-theme-secondary-button-background-color-hover: rgba(
    12,
    12,
    13,
    0.2
  );
  --default-theme-secondary-button-background-color-active: rgba(
    12,
    12,
    13,
    0.3
  );
  --default-theme-secondary-button-top-border-color: rgba(12, 12, 13, 0.1);
}

body {
  background-color: var(--default-theme-background-color);
  color: var(--default-theme-color);
}

#browse-addons-button {
  color: var(--default-theme-primary-button-text-color);
  background-color: var(--default-theme-primary-button-background-color);
  border-color: var(--default-theme-primary-button-top-border-color);
}

#browse-addons-button:hover {
  background-color: var(--default-theme-primary-button-background-color-hover);
}

#browse-addons-button:hover:active {
  background-color: var(--default-theme-primary-button-background-color-active);
}

#close-button {
  color: var(--default-theme-secondary-button-text-color);
  background-color: var(--default-theme-secondary-button-background-color);
  border-color: var(--default-theme-secondary-button-top-border-color);
}

#close-button:hover {
  background-color: var(
    --default-theme-secondary-button-background-color-hover
  );
}

#close-button:hover:active {
  background-color: var(
    --default-theme-secondary-button-background-color-active
  );
}

/* Dark theme */

:root {
  --dark-theme-background-color: rgba(57, 57, 62, 1);
  --dark-theme-color: rgba(251, 251, 251, 1);
  --dark-theme-primary-button-text-color: var(--dark-theme-color);
  --dark-theme-primary-button-background-color: rgba(19, 128, 246, 1);
  --dark-theme-primary-button-background-color-hover: rgba(14, 93, 201, 1);
  --dark-theme-primary-button-background-color-active: rgba(12, 82, 171, 1);
  --dark-theme-primary-button-top-border-color: rgba(45, 97, 147, 1);
  --dark-theme-secondary-button-text-color: var(--dark-theme-color);
  --dark-theme-secondary-button-background-color: rgba(74, 73, 79, 1);
  --dark-theme-secondary-button-background-color-hover: rgba(81, 81, 86, 1);
  --dark-theme-secondary-button-background-color-active: rgba(90, 90, 94, 1);
  --dark-theme-secondary-button-top-border-color: rgba(73, 72, 78, 1);
}

body.dark-theme {
  background-color: var(--dark-theme-background-color);
  color: var(--dark-theme-color);
}

body.dark-theme #browse-addons-button {
  color: var(--dark-theme-primary-button-text-color);
  background-color: var(--dark-theme-primary-button-background-color);
  border-color: var(--dark-theme-primary-button-top-border-color);
}

body.dark-theme #browse-addons-button:hover {
  background-color: var(--dark-theme-primary-button-background-color-hover);
}

body.dark-theme #browse-addons-button:hover:active {
  background-color: var(--dark-theme-primary-button-background-color-active);
}

body.dark-theme #close-button {
  color: var(--dark-theme-secondary-button-text-color);
  background-color: var(--dark-theme-secondary-button-background-color);
  border-color: var(--dark-theme-secondary-button-top-border-color);
}

body.dark-theme #close-button:hover {
  background-color: var(--dark-theme-secondary-button-background-color-hover);
}

body.dark-theme #close-button:hover:active {
  background-color: var(--dark-theme-secondary-button-background-color-active);
}
